transformers==4.40.1
trl==0.8.6
peft==0.10.0
accelerate==0.30.0
git+https://github.com/huggingface/datatrove.git
deepspeed
PyGithub
flash-attn
huggingface-hub
evaluate
datasets
bitsandbytes
einops
wandb
tensorboard
tiktoken
pandas
numpy
scipy
matplotlib
sentencepiece
nltk
